<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.zhaoxuanli.listdemo" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycler_view.RecycleViewActivity"
            android:label="@string/title_activity_recycle_view" />
        <activity
            android:name=".bluetooth.BlueToothActivity"
            android:label="@string/title_activity_blue_tooth" />
        <activity
            android:name=".bluetooth.BWelcomeActivity"
            android:label="@string/title_activity_bwelcome" />
        <activity
            android:name=".weather.WeatherActivity"
            android:label="@string/title_activity_weather" />
        <activity
            android:name=".gyroscope.HeartActivity"
            android:label="@string/title_activity_heart" />
        <activity
            android:name=".pic_compress.BitmapCompressActivity"
            android:label="@string/title_activity_bitmap_compress" />
        <activity
            android:name=".thread_pool.ThreadPoolActivity"
            android:label="@string/title_activity_thread_pool" />
        <activity
            android:name=".thread_pool.ThreadShowActivity"
            android:label="@string/title_activity_thread_show" />
        <activity
            android:name=".thread_pool.ThreadControlActivity"
            android:label="@string/title_activity_control_thread" />
        <activity
            android:name=".music_player.MusicPlayerActivity"
            android:label="@string/title_activity_music_player" />

        <service
            android:name=".music_player.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".db_orm.SQLiteActivity"
            android:label="@string/title_activity_sqlite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".combo_widget.ComboActivity" />
        <activity android:name=".combo_widget.FlotageActivity" >
        </activity>
        <activity
            android:name=".combo_widget.EmbedActivity"
            android:theme="@style/NoActionBar" >
        </activity>
        <activity android:name=".ScrollBanner.ScrollBannerActivity" >
        </activity>
    </application>

</manifest>
